" IntelliJ Vim Settings

set hlsearch
set ignorecase
set autoread
set relativenumber
set surround
set clipboard=unamedplus,unamed
" set backspace=indent,eol,start                              " Backspace can delete everything
set ttimeoutlen=100

let mapleader=','

nnoremap <leader>sv :source C:\Users\natha\.ideavimrc<CR>
nnoremap <leader>ev :action OpenFile C:\Users\natha\.ideavimrc<CR>
nnoremap <leader>q :wq<CR>
inoremap nn <Esc>


nnoremap <leader>tt :action SaveDocument<CR>
inoremap <leader>tt :action SaveDocument<CR>

nnoremap H ^
nnoremap L $

inoremap <leader>m <Esc>la

nnoremap <leader>run :action RunClass<CR>
inoremap <leader>run :action RunClass<CR>

nnoremap <leader>comm :action CommentByLineComment<CR>
inoremap <leader>comm :action CommentByLineComment<CR> 
vnoremap <leader>comm :action CommentByLineComment<CR>

nnoremap <leader>f :action CollapseBlock<CR>
nnoremap <leader>uf :action ExpandRegion<CR>
