! General
urxvt*scrollBar: false
! urxvt*font: xft:DejaVu Sans Mono:size=12
! urxvt*font: xft:SourceCodePro:size=12
! urxvt*font: xft:Hack:size=12
! urxvt*font: xft:Inconsolata:size=14
urxvt*font: xft:iosevkasparkle:size=12
urxvt*letterSpace: -1

urxvt*transparent: true
urxvt*shading: 20

